body {
    font-family: "Comic Sans MS";
}

 .main-image {
   border: solid 3px orange;
   border-radius: 50%;
 }

 h1 {
   background-color: #2bdfbb;
   padding: 5px;
 }

 .section-title {
   text-transform: capitalize;
 }
