body {
    font-family: "Comic Sans MS";
}

 .main-image {
   border: solid 3px black;
   border-radius: 50%;
 }

 h1 {
   background-color: #58fcc1;
   padding: 5px;
 }

 .section-title {
   text-transform: capitalize;
 }
